<launch>
    <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="turtlesim"
        respawn="true"
    />
    <node
        pkg="turtlesim"
        type="turtle_teleop_key"
        name="teleop_key"
        required="true"
        launch-prefix="xterm -e"
    />
    <node
        pkg="cpp_tutorial"
        type="cpp_tutorial_s_node"
        name="pose_sub"
    />
</launch>